settings:
  telemetry_enabled: true
active_modules:

  api:
    module: API
    connections:
      ocpp:
        - module_id: ocpp
          implementation_id: ocpp_generic
      evse_manager:
        - implementation_id: evse
          module_id: evse_manager
      error_history:
        - module_id: error_history
          implementation_id: error_history

  error_history:
    module: ErrorHistory
    config_implementation:
      error_history:
        database_path: /tmp/error_history.db

  #auth:
  #  module: Auth
  #  config_module:
  #    connection_timeout: 60
  #    selection_algorithm: PlugEvents
  #  connections:
  #    token_provider:
  #    - module_id: token_provider_1
  #      implementation_id: main
  #    #- module_id: token_provider_rfid
  #    #  implementation_id: main
  #    token_validator:
  #    - module_id: token_validator
  #      implementation_id: main
  #    evse_manager:
  #    - module_id: evse_manager
  #      implementation_id: evse

  auth:
    module: Auth
    config_module:
      connection_timeout: 10
      selection_algorithm: FindFirst
    connections:
      token_provider:
        - module_id: token_provider
          implementation_id: main
        #- module_id: ocpp
        #  implementation_id: auth_provider
      token_validator:
        - module_id: token_validator
          implementation_id: main
      evse_manager:
        - module_id: evse_manager
          implementation_id: evse

  token_provider:
    module: DummyTokenProvider
    config_implementation:
      main:
        token: TOKEN1
    connections:
      evse:
        - module_id: evse_manager
          implementation_id: evse

  token_validator:
    module: DummyTokenValidator
    config_implementation:
      main:
        validation_result: Accepted
        validation_reason: Token seems valid
        sleep: 0.25

  evse_security:
    module: EvseSecurity
    config_module:
      private_key_password: "123456"

  energy_manager:
    module: EnergyManager
    connections:
      energy_trunk:
      - implementation_id: energy_grid
        module_id: grid_connection_point

  evse_manager:
    module: EvseManager
    config_module:
      connector_id: 1
      evse_id: DE*PNX*E123456*1
      session_logging: true
      session_logging_path: /tmp/everest-logs
      session_logging_xml: false
      charge_mode: AC
      hack_allow_bpt_with_iso2: true
      #ac_enforce_hlc: false
      ac_hlc_enabled: true
      #ac_hlc_use_5percent: true
      #ac_nominal_voltage: 230
      #ac_with_soc: false
      #dbg_hlc_auth_after_tstep: false
      #ev_receipt_required: false
      #has_ventilation: false 
      payment_enable_contract: true
      payment_enable_eim: true
    connections:
      bsp:
      - implementation_id: board_support
        module_id: yeti_driver
      hlc:
      - implementation_id: charger
        module_id: iso15118_charger
      powermeter_grid_side:
      - implementation_id: powermeter
        module_id: yeti_driver
      slac:
      - implementation_id: main
        module_id: slac
    telemetry:
      id: 1

  grid_connection_point:
    module: EnergyNode
    mapping:
      module:
        evse: 0
    config_module:
      fuse_limit_A: 32
      phase_count: 1
    connections:
      energy_consumer:
      - implementation_id: energy_grid
        module_id: evse_manager

  evse_manager_1_ocpp_sink:
    module: EnergyNode
    mapping:
      module:
        evse: 1
    config_module:
      fuse_limit_A: 32
      phase_count: 1
    connections:
      energy_consumer:
      - implementation_id: energy_grid
        module_id: evse_manager

  iso15118_charger:
    module: EvseV2G
    config_module:
      device: eth0
      tls_security: allow
      verify_contract_cert_chain: false
      supported_DIN70121: false
    connections:
      security:
        - module_id: evse_security
          implementation_id: main

  #evse_security:
  #  module: EvseSecurity
  #  config_module:
  #    private_key_password: "123456"

  persistent_store:
    module: PersistentStore
    config_module:
      sqlite_db_file_path: /etc/everest/everest_persistent_store.db
    connections: {}

  setup:
    module: Setup
    config_module:
      localization: false 
      setup_simulation: true 
      setup_wifi: false 
    connections:
      store:
      - module_id: persistent_store
        implementation_id: main

  slac:
    module: EvseSlac
    config_implementation:
      main:
        device: eth0
        #evse_id: PIONIX_SAYS_HELLO
        #nid: pionix!
        number_of_sounds: 10
    connections: {}

  #token_provider_1:
  #  config_implementation:
  #    main:
  #      timeout: 10
  #      token: DEADBEEF
  #      #type: RFID
  #  connections:
  #    evse:
  #    - implementation_id: evse
  #      module_id: evse_manager
  #     main:
  #       serial_port: /dev/ttyAMA5
  #   connections: {}
  #   module: PN532TokenProvider

  #token_validator:
  #    main:
  #      sleep: 0.25
  #      validation_reason: Token seems valid
  #      validation_result: Accepted
  #  connections: {}
  #  module: DummyTokenValidator

  #yeti_driver:
  #  telemetry:
  #    id: 1
  #  config_module:
  #    serial_port: /dev/ttyAMA0
  #  connections: {}
  #  module: YetiDriver
  #

  #token_provider_1:
  #  module: DummyTokenProvider
  #  config_implementation:
  #    main:
  #      token: TOKEN1
  #  connections:
  #    evse:
  #      - module_id: evse_manager
  #        implementation_id: evse

  #token_validator:
  #  module: DummyTokenValidator
  #  config_implementation:
  #    main:
  #      validation_result: Accepted
  #      validation_reason: Token seems valid
  #      sleep: 0.25

  yeti_driver:
    module: YetiSimulator
    config_module:
      connector_id: 1

  ocpp:
    module: OCPP
    config_module:
      ChargePointConfigPath: config-hubject.json
    connections:
      evse_manager:
        - module_id: evse_manager
          implementation_id: evse
        # - module_id: evse_manager_2
        #   implementation_id: evse
      reservation:
        - module_id: auth
          implementation_id: reservation
      auth:
        - module_id: auth
          implementation_id: main
      system:
        - module_id: system
          implementation_id: main
      security:
        - module_id: evse_security
          implementation_id: main
      display_message:
        - module_id: display_message
          implementation_id: display_message
      evse_energy_sink:
        - module_id: grid_connection_point
          implementation_id: external_limits
        - module_id: evse_manager_1_ocpp_sink
          implementation_id: external_limits
        # - module_id: evse_manager_2_ocpp_sink
        #   implementation_id: external_limits
          
  display_message:
    module: TerminalDisplayMessage

  system:
    module: System
